<div id="areaCenterColumn">
    <div class="container">

        <form action=""
              role="form"
              class="form-horizontal"
              id="myForm"
              name="myForm"
              style="border-spacing: 0; border-collapse: collapse; width: 100%; margin-bottom: 0;">

            <div class="container-fluid">

                <h1 id="settings_id_text" name="settings_id_text"></h1><input hidden type="text" class="form-control"  id="settings_id" name="settings_id">

                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr style="margin: 1px;padding: 1px">
                        <td style="margin: 1px;padding: 1px; min-width: 200px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 1px; vertical-align: middle">Исполнитель</td>
                                </tr>
                                <tr  style="width: max-content">
                                    <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                                        <input style="font-size: 14px;" type="text" class="form-control" id="settings_author" name="settings_author" placeholder="Исполнитель">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px; width: 80px; min-width: 80px; max-width: 80px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Год</td>
                                </tr>
                                <tr style="width: 80px">
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="margin: 0px; font-size: 14px; padding: 0;" type="text" class="form-control" id="settings_year" name="settings_year" placeholder="Год">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px; min-width: 200px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: max-content; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Альбом</td>
                                </tr>
                                <tr >
                                    <td style="width: max-content; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" type="text" class="form-control" id="settings_album" name="settings_album" placeholder="Альбом">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr style="margin: 1px;padding: 1px">
                        <td style="margin: 1px;padding: 1px; max-width: 50px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Трек</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_track" name="settings_track" placeholder="Трек">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Композиция</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" type="text" class="form-control" id="settings_songName" name="settings_songName" placeholder="Композиция">
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_copy_songName" id="button_copy_songName" class="form-control btn btn-info btn-block" type="button" onclick="copySongName()">📋</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Tags</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_tags" name="settings_tags" placeholder="Tags">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr style="margin: 1px;padding: 1px">
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Дата публикации</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_date" name="settings_date" placeholder="Дата публикации">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Время публикации</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_time" name="settings_time" placeholder="Время публикации">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Тональность</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_key" name="settings_key" placeholder="Тональность">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Темп</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_bpm" name="settings_bpm" placeholder="Темп">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">MS</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_ms" name="settings_ms" placeholder="MS">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr style="margin: 1px;padding: 1px">
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Имя файла</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_fileName" name="settings_fileName" placeholder="Имя файла">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Корневая папка</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_rootFolder" name="settings_rootFolder" placeholder="Корневая папка">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr style="margin: 1px;padding: 1px">
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td colspan="10" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">BOOSTY</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idBoosty" name="settings_idBoosty" placeholder="Boosty" oninput="extractBoostyId(this)">
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 10px; padding-right: 10px; width: 80px;">
                                        <a style="width: 80px; height: 35px;" name="button_link_boosty" id="button_link_boosty" class="btn btn-info btn-block" type="button" target="_blank" href="">OPEN</a>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_boosty_head" id="button_link_boosty_head" class="form-control btn btn-primary btn-block" type="button" onclick="doTextBoostyHead()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_boosty_body" id="button_link_boosty_body" class="form-control btn btn-primary btn-block" type="button" onclick="doTextBoostyBody()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_boosty_link" id="button_link_boosty_link" class="form-control btn btn-primary btn-block" type="button" onclick="doBoostyLink()">L</button>
                                    </td>
<!--                                </tr>-->
<!--                                <tr>-->
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idBoostyFiles" name="settings_idBoostyFiles" placeholder="Boosty Files" oninput="extractBoostyId(this)">
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 10px; padding-right: 10px; width: 80px;">
                                        <a style="width: 80px; height: 35px;" name="button_link_boostyFiles" id="button_link_boostyFiles" class="btn btn-info btn-block" type="button" target="_blank" href="">OPEN</a>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_boostyFiles_head" id="button_link_boostyFiles_head" class="form-control btn btn-primary btn-block" type="button" onclick="doTextBoostyFilesHead()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_boostyFiles_body" id="button_link_boostyFiles_body" class="form-control btn btn-primary btn-block" type="button" onclick="doTextBoostyFilesBody()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_boostyFiles_link" id="button_link_boostyFiles_link" class="form-control btn btn-primary btn-block" type="button" onclick="doBoostyFilesLink()">L</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr style="margin: 1px;padding: 1px">
                        <td style="margin: 1px;padding: 1px;">
                            <table style="width: 100%">
                                <tr>
                                    <td colspan="4" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Группа VK</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idVk" name="settings_idVk" placeholder="Vk" oninput="extractVkId(this)">
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 10px; padding-right: 10px; width: 140px;">
                                        <a style="width: 160px; height: 35px;" name="button_link_vk" id="button_link_vk" class="btn btn-info btn-block" type="button" target="_blank" href="">OPEN</a>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_vk_body" id="button_link_vk_body" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVKBody()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_vk_link" id="button_link_vk_link" class="form-control btn btn-primary btn-block" type="button" onclick="doVKLink()">L</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr>
                        <td>
                            <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                                <tr style="margin: 1px;padding: 1px">
                                    <td colspan="13" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">DZEN</td>
                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Версия</td>
                                    <td colspan="6" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Normal</td>
                                    <!--                                <td colspan="6" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Delay</td>-->
                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Karaoke</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_DzenKaraoke" id="button_link_play_DzenKaraoke" class="form-control btn btn-info btn-block" type="button" onclick="openLinkDzenPlayKaraoke()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_DzenKaraoke" id="button_link_edit_DzenKaraoke" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkDzenEditKaraoke()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_DzenKaraoke" id="button_head_DzenKaraoke" class="form-control btn btn-primary btn-block" type="button" onclick="doTextDzenKaraokeHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_DzenKaraoke" id="button_body_DzenKaraoke" class="form-control btn btn-primary btn-block" type="button" onclick="doTextDzenKaraokeWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_DzenKaraoke_link" id="button_link_DzenKaraoke_link" class="form-control btn btn-primary btn-block" type="button" onclick="doDzenKaraokeLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idDzenKaraoke" name="settings_idDzenKaraoke" placeholder="Karaoke" oninput="extractDzenVideoId(this)">
                                    </td>

                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Lyrics</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_DzenLyrics" id="button_link_play_DzenLyrics" class="form-control btn btn-info btn-block" type="button" onclick="openLinkDzenPlayLyrics()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_DzenLyrics" id="button_link_edit_DzenLyrics" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkDzenEditLyrics()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_DzenLyrics" id="button_head_DzenLyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doTextDzenLyricsHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_DzenLyrics" id="button_body_DzenLyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doTextDzenLyricsWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_DzenLyrics_link" id="button_link_DzenLyrics_link" class="form-control btn btn-primary btn-block" type="button" onclick="doDzenLyricsLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idDzenLyrics" name="settings_idDzenLyrics" placeholder="Lyrics" oninput="extractDzenVideoId(this)">
                                    </td>

                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Chords</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_DzenChords" id="button_link_play_DzenChords" class="form-control btn btn-info btn-block" type="button" onclick="openLinkDzenPlayChords()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_DzenChords" id="button_link_edit_DzenChords" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkDzenEditChords()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_DzenChords" id="button_head_DzenChords" class="form-control btn btn-primary btn-block" type="button" onclick="doTextDzenChordsHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_DzenChords" id="button_body_DzenChords" class="form-control btn btn-primary btn-block" type="button" onclick="doTextDzenChordsWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_DzenChords_link" id="button_link_DzenChords_link" class="form-control btn btn-primary btn-block" type="button" onclick="doDzenChordsLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idDzenChords" name="settings_idDzenChords" placeholder="Chords" oninput="extractDzenVideoId(this)">
                                    </td>

                                </tr>

                            </table>
                        </td>
                        <td rowspan="3" style="min-width: 200px; max-width: 200px;">
                            <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                                <tr>
                                    <td style="min-width: 250px; max-width: 250px; min-height: 100px; background-color: black">
                                        <div>
                                            <img id="image_author" width="250" height="100">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="min-width: 250px; max-width: 250px; min-height: 250px; background-color: black">
                                        <div>
                                            <img id="image_album"  width="250" height="250">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                                <tr style="margin: 1px;padding: 1px">
                                    <td colspan="13" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">VK</td>
                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Версия</td>
                                    <td colspan="6" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Normal</td>
                                    <!--                                <td colspan="6" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Delay</td>-->
                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Karaoke</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_VkKaraoke" id="button_link_play_VkKaraoke" class="form-control btn btn-info btn-block" type="button" onclick="openLinkVkPlayKaraoke()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_VkKaraoke" id="button_link_edit_VkKaraoke" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkVkEditKaraoke()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_VkKaraoke" id="button_head_VkKaraoke" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVkKaraokeHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_VkKaraoke" id="button_body_VkKaraoke" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVkKaraokeWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_VkKaraoke_link" id="button_link_VkKaraoke_link" class="form-control btn btn-primary btn-block" type="button" onclick="doVkKaraokeLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idVkKaraoke" name="settings_idVkKaraoke" placeholder="Karaoke" oninput="extractVkVideoId(this)">
                                    </td>

                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Lyrics</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_VkLyrics" id="button_link_play_VkLyrics" class="form-control btn btn-info btn-block" type="button" onclick="openLinkVkPlayLyrics()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_VkLyrics" id="button_link_edit_VkLyrics" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkVkEditLyrics()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_VkLyrics" id="button_head_VkLyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVkLyricsHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_VkLyrics" id="button_body_VkLyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVkLyricsWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_VkLyrics_link" id="button_link_VkLyrics_link" class="form-control btn btn-primary btn-block" type="button" onclick="doVkLyricsLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idVkLyrics" name="settings_idVkLyrics" placeholder="Lyrics" oninput="extractVkVideoId(this)">
                                    </td>

                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Chords</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_VkChords" id="button_link_play_VkChords" class="form-control btn btn-info btn-block" type="button" onclick="openLinkVkPlayChords()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_VkChords" id="button_link_edit_VkChords" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkVkEditChords()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_VkChords" id="button_head_VkChords" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVkChordsHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_VkChords" id="button_body_VkChords" class="form-control btn btn-primary btn-block" type="button" onclick="doTextVkChordsWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_VkChords_link" id="button_link_VkChords_link" class="form-control btn btn-primary btn-block" type="button" onclick="doVkChordsLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idVkChords" name="settings_idVkChords" placeholder="Chords" oninput="extractVkVideoId(this)">
                                    </td>

                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                                <tr style="margin: 1px;padding: 1px">
                                    <td colspan="13" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">TELEGRAM</td>
                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Версия</td>
                                    <td colspan="6" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Normal</td>
                                    <!--                                <td colspan="6" style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle; text-align: center">Delay</td>-->
                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Karaoke</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_TelegramKaraoke" id="button_link_play_TelegramKaraoke" class="form-control btn btn-info btn-block" type="button" onclick="openLinkTelegramPlayKaraoke()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_TelegramKaraoke" id="button_link_edit_TelegramKaraoke" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkTelegramEditKaraoke()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_TelegramKaraoke" id="button_head_TelegramKaraoke" class="form-control btn btn-primary btn-block" type="button" onclick="doTextTelegramKaraokeHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_TelegramKaraoke" id="button_body_TelegramKaraoke" class="form-control btn btn-primary btn-block" type="button" onclick="doTextTelegramKaraokeWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_TelegramKaraoke_link" id="button_link_TelegramKaraoke_link" class="form-control btn btn-primary btn-block" type="button" onclick="doTelegramKaraokeLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idTelegramKaraoke" name="settings_idTelegramKaraoke" placeholder="Karaoke" oninput="extractTelegramVideoId(this)">
                                    </td>

                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Lyrics</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_TelegramLyrics" id="button_link_play_TelegramLyrics" class="form-control btn btn-info btn-block" type="button" onclick="openLinkTelegramPlayLyrics()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_TelegramLyrics" id="button_link_edit_TelegramLyrics" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkTelegramEditLyrics()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_TelegramLyrics" id="button_head_TelegramLyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doTextTelegramLyricsHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_TelegramLyrics" id="button_body_TelegramLyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doTextTelegramLyricsWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_TelegramLyrics_link" id="button_link_TelegramLyrics_link" class="form-control btn btn-primary btn-block" type="button" onclick="doTelegramLyricsLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idTelegramLyrics" name="settings_idTelegramLyrics" placeholder="Lyrics" oninput="extractTelegramVideoId(this)">
                                    </td>

                                </tr>
                                <tr style="margin: 1px;padding: 1px">
                                    <td style="width: 70px; font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Chords</td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_play_TelegramChords" id="button_link_play_TelegramChords" class="form-control btn btn-info btn-block" type="button" onclick="openLinkTelegramPlayChords()">P</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_edit_TelegramChords" id="button_link_edit_TelegramChords" class="form-control btn btn-warning btn-block" type="button" onclick="openLinkTelegramEditChords()">E</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_head_TelegramChords" id="button_head_TelegramChords" class="form-control btn btn-primary btn-block" type="button" onclick="doTextTelegramChordsHeader()">H</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_body_TelegramChords" id="button_body_TelegramChords" class="form-control btn btn-primary btn-block" type="button" onclick="doTextTelegramChordsWOHeader()">B</button>
                                    </td>
                                    <td style="font-size: 22px; padding: 0; padding-left: 1px; padding-right: 1px; width: 35px;">
                                        <button style="width: 35px; height: 35px;" name="button_link_TelegramChords_link" id="button_link_TelegramChords_link" class="form-control btn btn-primary btn-block" type="button" onclick="doTelegramChordsLink()">L</button>
                                    </td>
                                    <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                                        <input style="font-size: 14px; padding: 0;" class="form-control" type="text" id="settings_idTelegramChords" name="settings_idTelegramChords" placeholder="Chords" oninput="extractTelegramVideoId(this)">
                                    </td>

                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>


                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">

                    <tr style="margin: 1px;padding: 1px">
                        <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px; vertical-align: middle">Статус</td>
                        <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                            <select id="select_status" name="select_status" class="form-control">
                                <option value="0">NONE</option>
                                <option value="1">TEXT_CREATE</option>
                                <option value="2">TEXT_CHECK</option>
                                <option value="3">PROJECT_CREATE</option>
                                <option value="4">PROJECT_CHECK</option>
                                <option value="5">RENDERING</option>
                                <option value="6">DONE</option>
                            </select>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 10px; padding-right: 10px;">
                            <div id="group_status" class="btn-group btn-toggle">
                                <label for="group_status">Статус:</label>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="0">---</button>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="1">TXT FIND</button>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="2">TXT CHECK</button>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="3">PRJ CREATE</button>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="4">PRJ CHECK</button>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="5">RENDER</button>
                                <button name="btn_status" class="btn btn-sm btn-outline-primary" type="button" value="6">DONE</button>
                            </div>
                        </td>

                    </tr>


                </table>

                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">

                    <tr style="margin: 1px;padding: 1px">
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">

                            <button name="button_submit" id="button_submit" class="form-control btn btn-primary btn-block" type="button" value="Сохранить" onclick="doPostForm()">Сохранить</button>

                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_edit_subs0" id="button_edit_subs0" class="form-control btn btn-primary btn-block" type="button" onclick="doEditSubs(0)">Edit (V0)</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_edit_subs1" id="button_edit_subs1" class="form-control btn btn-primary btn-block" type="button" onclick="doEditSubs(1)">Edit (V1)</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_edit_subs2" id="button_edit_subs2" class="form-control btn btn-primary btn-block" type="button" onclick="doEditSubs(2)">Edit (V2)</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_edit_subs3" id="button_edit_subs3" class="form-control btn btn-primary btn-block" type="button" onclick="doEditSubs(3)">Edit (V3)</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_create_karaoke" id="button_create_karaoke" class="form-control btn btn-primary btn-block" type="button" onclick="doCreateKaraoke()">Создать караоке</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_kdenlive_files" id="button_kdenlive_files" class="form-control btn btn-primary btn-block" type="button" onclick="doCreateKdenliveFiles()">Создать kdenlive files</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_delete" id="button_delete" class="form-control btn btn-primary btn-block" type="button" onclick="doDelete()">DEL</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_symlink" id="button_symlink" class="form-control btn btn-primary btn-block" type="button" onclick="doSymlink()">SYMLINK</button>
                        </td>
                    </tr>

                </table>

                <table class="table table-hover table-bordered" style="margin: 1px;padding: 1px">
                    <tr colspan="2" style="margin: 1px;padding: 1px">
                        КОДИРОВАТЬ:
                    </tr>
                    <tr style="margin: 1px;padding: 1px">
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_melt_lyrics" id="button_melt_lyrics" class="form-control btn btn-primary btn-block" type="button" onclick="doProcess('doprocesslyrics')">LYRICS</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_melt_karaoke" id="button_melt_karaoke" class="form-control btn btn-primary btn-block" type="button" onclick="doProcess('doprocesskaraoke')">KARAOKE</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_melt_chords" id="button_melt_chords" class="form-control btn btn-primary btn-block" type="button" onclick="doProcess('doprocesschords')">CHORDS</button>
                        </td>
                    </tr>
                    <tr style="margin: 1px;padding: 1px">
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_melt_all" id="button_melt_all" class="form-control btn btn-primary btn-block" type="button" onclick="doProcess('doprocessall')">ВСЁ</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_set_datetimeauthor" id="button_set_datetimeauthor" class="form-control btn btn-primary btn-block" type="button" onclick="doSetDateTimeAuthor()">Пересчитать Дату/время</button>
                        </td>
                        <td style="font-size: 14px; padding: 0; padding-left: 1px; padding-right: 1px;">
                            <button name="button_demucs2" id="button_demucs2" class="form-control btn btn-primary btn-block" type="button" onclick="doProcess('dodemucs2')">DEMUX 2</button>
                        </td>
                    </tr>
                </table>

            </div>
        </form>

    </div>
</div>