
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/songs">Песни</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/songs2">Песни-2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/publications?filter_cond=fromnotpublish">Публикации</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/unpublications">Un-Публикации</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/zakroma">Закрома</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/processes?filter_limit=100">Процессы</a>
  </li>
</ul>
