<ul class="context-menu__items">
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="0"><i class="status0"></i>NONE</a>
    </li>
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="1"><i class="status1"></i>TEXT_CREATE</a>
    </li>
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="2"><i class="status2"></i>TEXT_CHECK</a>
    </li>
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="3"><i class="status3"></i>PROJECT_CREATE</a>
    </li>
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="4"><i class="status4"></i>PROJECT_CHECK</a>
    </li>
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="5"><i class="status5"></i>RENDERING</a>
    </li>
    <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="CHANGE_STATUS" action-value="6"><i class="status6"></i>DONE</a>
    </li>
</ul>