*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.platform-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin: 1px;
  padding: 1px;
  cursor: pointer;
  text-decoration: none;
}
.platform-icon.disabled {
  cursor: default;
}
